// Размер макета на desktop разрешении, используется в functions.scss($maxViewportWidth)
$container-desktop-width: 1224;
$container-min-width: 360;

// Размер макета на laptop разрешении
$container-laptop-width: 767;
