@use "../helpers" as *;

.account {
  &__list {
    display: flex;
    column-gap: 24px;
    align-items: center;

    @include tablet {
      column-gap: 16px;
    }
  }

  &__item {
    &.menu-burger {
      @include mobile {
        order: -1;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  @include square(24px);
}

.icon--search {
}

.icon--person {
}

.icon--favorite {
  fill: var(--white);
  stroke: var(--neutral-gray202020);
  stroke-width: 2px;
  transition: all 0.2s;
}

.icon--bag {
}
