@use "../helpers" as *;

.account {
  &__list {
    display: flex;
    column-gap: 24px;
    align-items: center;

    @include tablet {
      column-gap: 16px;
    }
  }

  &__item {
    &.menu-burger {
      @include mobile {
        order: -1;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
