.collection {
  &__container {
    padding-bottom: var(--container-margin-y);

    @include mobile {
      padding-bottom: var(--container-margin-y-mobile);
    }
  }

  &__title {
    padding-bottom: 24px;

    @include mobile {
      padding-bottom: 9px;
    }
  }

  &__cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @include mobile {
      gap: 24px 16px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    row-gap: fluid(64, 24);
    justify-content: space-between;
  }

  &__card {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
}
