.follow {
  &__container {
    margin-bottom: var(--container-margin-y);
  }

  &__title {
  }

  &__content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }

  &____img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--accent {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
}
