@use "../helpers" as *;
@use "sass:string";

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: string.unquote("scroll()");
  animation-range: 100px 200px;

  @keyframes scrolling-header {
    to {
      box-shadow: 0 0 1rem 0 var(--white);
    }
  }

  &__top-info {
    position: relative;
    z-index: 100;
    padding-block: 7px;
    background-color: var(--primary);

    @include mobile {
      padding-block: 0;
    }
  }

  &__main {
    padding-top: 16px;
    padding-bottom: 18px;
  }
}

.top-info {
  &__text {
    @include fluid-text(12, 10);

    font-weight: 600;
    line-height: calc(15 / 12);
    color: var(--white);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.07em;

    @include mobile {
      font-weight: 400;
      line-height: 1.4;
    }
  }
}

.header-main {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      padding: 4px 0 8px;
    }
  }

  &__logo {
    @include tablet {
      z-index: 100;
      max-width: 138px;
    }
  }

  &__menu {
    margin-left: auto;

    @include mobile {
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;

      // justify-content: center;

      row-gap: 2rem;
      padding-inline: 21px;
      padding-top: 106px;
      margin-left: unset;
      background-color: var(--white);
      transition: var(--transition-duration);

      &.menu-closed {
        @include hide;

        pointer-events: none;
        translate: 100%;
      }
    }
  }

  &__account {
    &--auth {
      padding-right: 24px;
      margin-left: auto;

      @include mobile {
        order: -1;
        padding-right: 0;
        margin-left: unset;
      }
    }

    z-index: 100;
  }
}
