@use "../helpers" as *;

.hero {
  &__container {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    align-items: start;

    @include mobile {
      row-gap: 31px;
      max-width: 168px;
    }
  }

  &__title {
  }

  &__button {
    text-transform: capitalize;

    @include mobile {
      font-size: 14px;
    }
  }
}
