.menu {
  &__list {
    display: flex;
    column-gap: 30px;
    align-items: center;

    @include tablet {
      column-gap: 16px;
    }

    @include mobile {
      flex-direction: column;
      row-gap: 1rem;
      align-items: flex-start;
      width: 100%;
      flex: 1;
      overflow-y: auto;
      padding-bottom: 16px;
    }
  }

  &__item {
    position: relative;

    @include mobile {
      width: 100%;
      border-bottom: 1px solid var(--black);
    }
  }

  &__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__arrow {
    transition: transform var(--transition-duration);

    &.is-active {
      transform: rotate(180deg);
    }
  }

  &__link {
    font-size: 18px;
    line-height: 180%;
    color: var(--neutral-gray404040);

    &:hover {
      color: var(--black);
    }

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      color: var(--black);
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;

    min-width: 200px;
    padding-top: 12px;
    z-index: 100;

    @include hide;
    transform: translateY(-10px);
    transition: var(--transition-duration);

    &.is-active {
      @include show;
      transform: translateY(0);
    }

    @include mobile {
      position: static;
      padding-top: 0;
      padding-bottom: 0;
      max-height: 0;
      overflow: hidden;
      transform: none;
      opacity: 0;
      visibility: hidden;
      transition: var(--transition-duration);

      &.is-active {
        padding-bottom: 8px;
        max-height: max-content;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--neutral-graycbcbcb);
  }

  &__auth-list {
    @include flex-center();
    gap: 16px;
    padding-block: 16px;
    flex-wrap: wrap;
  }
}

.auth-list {
  &__item {
  }

  &__btn {
    @include flex-center();
    column-gap: 4px;
    border: 1px solid var(--primary-primary-600);
    padding: 8px;
    min-width: 152px;
    line-height: 171%;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-primary-600);

    &:hover {
      border-color: var(--black);
      color: var(--black);
    }

    &--person {
    }
  }
}
