.menu-burger {
  &__btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 3px;
    transition-duration: var(--transition-duration);

    @include square(24px);

    span {
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transition: var(--transition-duration);
    }

    &.is-active {
      span {
        &:first-child,
        &:nth-child(2) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform-origin: center;
        }

        &:first-child {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:last-child {
          opacity: 0;
        }
      }
    }
  }
}
