@use "../helpers" as *;

.page {
  &__hero {
    display: flex;
    align-items: flex-end;
    min-height: 600px;
    padding-bottom: fluid(103, 20);
    background-image: url("./../../images/hero/hero@2x.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;

    @include mobile {
      min-height: 551px;
      background-position: -260px center;
    }
  }
}
