.swiper {
  width: 100%;

  .swiper-pagination {
    position: static;
    margin-top: fluid(32, 20);
    text-align: center;
    transform: none;
  }

  .swiper-pagination-bullet {
    display: inline-block;
    width: fluid(14, 8);
    height: fluid(14, 8);
    margin-inline: 8px;
    background-color: var(--neutral-grayadadad);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--neutral-graydfdfdf);
    opacity: 1;
  }
}
