@use "helpers" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--black);
  letter-spacing: -0.03em;
  background-color: var(--white);
}

.page {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.h1 {
  @include fluid-text(34, 20);

  font-weight: 500;
  line-height: 180%;
}

h2,
.h2 {
  @include fluid-text(32, 20);

  font-weight: 600;
  line-height: 140%;
}

h3,
.h3 {
  @include fluid-text(16, 14);

  font-weight: 700;
}

h4,
.h4 {
  @include fluid-text(26, 18);
}

h5,
.h5 {
  @include fluid-text(24, 18);
}

h6,
.h6 {
  @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  background-color: transparent;
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;

  @include hover {
  }
}

button {
  border: none;
}

.button {
  @include flex-center;

  min-width: 185px;
  height: 40px;
  background-color: var(--white);

  &:hover {
    color: var(--white);
    background-color: var(--primary);
  }

  @include mobile {
    justify-content: flex-start;
    min-width: unset;
    height: unset;
    padding: 8px 9px;
    font-size: 14px;
    line-height: 1.5;
  }
}
