<section class="follow">
  <div class="follow__container container">
    <h2 class="follow__title">Follow us</h2>
    <div class="follow__content">
      <img src="./images/follow/follow-01.jpg" alt="Follow us" class="follow____img follow____img--accent" />
      <img src="./images/follow/follow-02.jpg" alt="Follow us" class="follow____img" />
      <img src="./images/follow/follow-03.jpg" alt="Follow us" class="follow____img" />
      <img src="./images/follow/follow-04.jpg" alt="Follow us" class="follow____img" />
      <img src="./images/follow/follow-05.jpg" alt="Follow us" class="follow____img" />
    </div>
  </div>
</section>
