<header class="header">
  <section class="header__top-info top-info">
    <div class="top-info__container container">
      <p class="top-info__text">Enjoy Free Shipping On All Orders</p>
    </div>
  </section>
  <section class="header__main header-main">
    <div class="header-main__container container">
      <div class="header-main__row">
        <div class="header-main__logo logo">
          <a href="#" class="logo__link">
            <img src="./images/logo/Logo.svg" alt="Modimal" class="logo__img" />
          </a>
        </div>
        <nav class="header-main__menu menu tabs menu-closed">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#" class="menu__link">Collection</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">New In</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Modiweek</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Plus Size</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Sustainability</a>
            </li>
          </ul>
        </nav>
        <div class="header-main__account account header-main__account--auth">
          <ul class="account__list">
            <li class="account__item menu-burger visible-mobile">
              <button class="menu-burger__btn">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </li>
            <li class="account__item">
              <a href="#" class="account__link">
                <svg class="icon icon--search">
                  <use href="#icon-search"></use>
                </svg>
              </a>
            </li>
            <li class="account__item hidden-mobile">
              <a href="#" class="account__link">
                <svg class="icon icon--person">
                  <use href="#icon-person"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-main__account account">
          <ul class="account__list">
            <li class="account__item">
              <a href="#" class="account__link">
                <svg class="icon icon--favorite">
                  <use href="#icon-favorite"></use>
                </svg>
              </a>
            </li>
            <li class="account__item">
              <a href="#" class="account__link">
                <svg class="icon icon--bag">
                  <use href="#icon-bag"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</header>
