<nav class="header-main__menu menu menu-closed">
  <ul class="menu__list">
    <li class="menu__item">
      <div class="menu__trigger">
        <a href="#" class="menu__link">Collection</a>
        <div class="menu__arrow visible-mobile">
          <svg class="icon icon--arrow-down">
            <use href="#icon-arrow-down"></use>
          </svg>
        </div>
      </div>
    </li>
    <li class="menu__item" data-dropdown>
      <div class="menu__trigger">
        <a href="#" class="menu__link">New In</a>
        <div class="menu__arrow visible-mobile">
          <svg class="icon icon--arrow-down">
            <use href="#icon-arrow-down"></use>
          </svg>
        </div>
      </div>

      <div class="menu__dropdown dropdown">
        <ul class="dropdown__list">
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">shop all</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">tops & blouses</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">tees</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">pants</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">jackets & outwears</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">pullovers</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">dresses & jumpsuits</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">short & skirts</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="menu__item">
      <div class="menu__trigger">
        <a href="#" class="menu__link">Modiweek</a>
        <div class="menu__arrow visible-mobile">
          <svg class="icon icon--arrow-down">
            <use href="#icon-arrow-down"></use>
          </svg>
        </div>
      </div>
    </li>
    <li class="menu__item">
      <div class="menu__trigger">
        <a href="#" class="menu__link">Plus Size</a>
        <div class="menu__arrow visible-mobile">
          <svg class="icon icon--arrow-down">
            <use href="#icon-arrow-down"></use>
          </svg>
        </div>
      </div>
    </li>
    <li class="menu__item" data-dropdown>
      <div class="menu__trigger">
        <a href="#" class="menu__link">Sustainability</a>
        <div class="menu__arrow visible-mobile">
          <svg class="icon icon--arrow-down">
            <use href="#icon-arrow-down"></use>
          </svg>
        </div>
      </div>
      <div class="menu__dropdown dropdown">
        <ul class="dropdown__list">
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">shop all</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">tops & blouses</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">tees</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">pants</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">jackets & outwears</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">pullovers</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">dresses & jumpsuits</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">short & skirts</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <span class="menu__line visible-mobile"></span>
  <ul class="menu__auth-list auth-list visible-mobile">
    <li class="auth-list__item">
      <button class="auth-list__btn auth-list__btn--person">
        <a href="#" class="auth-list__link">
          <svg class="icon icon--person">
            <use href="#icon-person"></use>
          </svg>
        </a>
        Log In
      </button>
    </li>
    <li class="auth-list__item">
      <button class="auth-list__btn">Create Account</button>
    </li>
  </ul>
</nav>
